--- 
import { Image } from 'astro:assets'
import cucChi from '../images/cuc-chi.png'
import botNghe from '../images/ginger-powder.webp'
import dauDua from '../images/dau-dua.png'
import sapOng from '../images/sap-ong.png'
import camGao from '../images/cam-gao.jpg'
---

<div class="align-center">
  <div class="p-4">
    <div class="text-4xl mt-4">Thành phần chính:</div>
    <div class="text-center">
      <Image src={cucChi} alt="Hoa cuc chi" />
      <div class="font-bold">Hoa Cúc Chi</div>
      <p>Hay còn gọi là "Cúc Tiến Vua" - một loại thảo dược quý trong Y học Cổ truyền, được trồng trên vùng đất hơn 10 năm không dùng phân hoá học và hoá chất giúp làm dịu làn da kích ứng, mẩn đỏ và viêm nhiễm nhờ các hoạt chất kháng viêm tự nhiên.  Với hương thơm thanh mát và ngọt dịu, mang đến cảm giác thư giãn và dễ chịu khi sử dụng.</p>

      <Image src={botNghe} alt="Hoa cuc chi" />
      <div class="font-bold">Tinh bột nghệ</div>
      <p>Với hàm lượng Curcumin giàu có được thiên nhiên ban tặng, tinh bột nghệ có khả năng làm dịu các tổn thương trên da, giảm thâm mụn, thúc đẩy quá trình tái tạo và ngăn ngừa sẹo sau mụn hiệu quả.</p>

      <Image src={dauDua} alt="Hoa cuc chi" />
      <div class="font-bold">Dầu Dừa</div>
      <p>Nhờ hàm lượng axit béo và dưỡng chất tự nhiên phong phú, dầu dừa là thành phần quen thuộc trong các sản phẩm dưỡng da. Với khả năng cung cấp độ ẩm vượt trội, dầu dừa giúp làm mềm các vùng da khô ráp, bong tróc, mang lại cảm giác mềm mượt suốt cả ngày.</p>

      <Image src={sapOng} alt="Sap ong " />
      <div class="font-bold">Sáp Ong</div>
      <p>Sự góp mặt của sáp ong giúp hình thành lớp màng bảo vệ trên da, không chỉ ngăn ngừa mất nước  mà còn bảo vệ da khỏi các tác động từ môi trường như bụi bẩn, tia UV, vi khuẩn xâm nhập gây mụn.</p> 

      <Image src={camGao} alt="Dầu Cám gạo " />
      <div class="font-bold">Dầu Cám Gạo</div>
      <p>Dầu cám gạo chứa thành phần Gamma-Oryzanol, nổi bật với khả năng chống oxy hóa mạnh mẽ, giúp làm mờ vết thâm nám và hỗ trợ làm căng da một cách tự nhiên. Một bí quyết từ thiên nhiên để giữ gìn làn da tươi trẻ và đầy sức sống.</p>
    </div>
  </div>
  

  
</div>